body{
    background: black;
}

.clock{
    position: absolute;
    top: 50%;
    left:  50%;
    color: crimson;
    font-family: sans-serif;
    font-size: 50px;
    letter-spacing: 5px;
    transform: translateX(-50%) translateY(-50%);
}